nvidia-settings-*.tar.bz2
/nvidia-settings-440.59.tar.gz
/nvidia-settings-465.24.02.tar.gz
/nvidia-settings-465.27.tar.gz
/nvidia-settings-495.46.tar.gz
/nvidia-settings-510.39.01.tar.gz
/nvidia-settings-510.47.03.tar.gz
/nvidia-settings-510.54.tar.gz
/nvidia-settings-510.60.02.tar.gz
/nvidia-settings-510.68.02.tar.gz
/nvidia-settings-515.43.04.tar.gz
/nvidia-settings-515.48.07.tar.gz
/nvidia-settings-515.57.tar.gz
/nvidia-settings-515.65.01.tar.gz
/nvidia-settings-515.76.tar.gz
/nvidia-settings-520.56.06.tar.gz
/nvidia-settings-525.53.tar.gz
/nvidia-settings-525.60.11.tar.gz
/nvidia-settings-525.78.01.tar.gz
/nvidia-settings-525.85.05.tar.gz
/nvidia-settings-525.89.02.tar.gz
/nvidia-settings-530.30.02.tar.gz
/nvidia-settings-530.41.03.tar.gz
