nvidia-settings-*.tar.bz2
/nvidia-settings-440.59.tar.gz
/nvidia-settings-465.24.02.tar.gz
/nvidia-settings-465.27.tar.gz
/nvidia-settings-495.46.tar.gz
/nvidia-settings-510.39.01.tar.gz
/nvidia-settings-510.47.03.tar.gz
/nvidia-settings-510.54.tar.gz
/nvidia-settings-510.60.02.tar.gz
/nvidia-settings-510.68.02.tar.gz
/nvidia-settings-515.43.04.tar.gz
/nvidia-settings-515.48.07.tar.gz
/nvidia-settings-515.57.tar.gz
